<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aotter.trek.sdk.android.admob.mediation.kotlin.demo">


    <application
        android:name="com.aotter.trek.admob.mediation.android.kotlin.demo.AdmobApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AotterTrekAdmobDemo">
        <activity android:name="com.aotter.trek.admob.mediation.android.kotlin.demo.admob_mediation.banner_ad.AdmobBannerAdScrollViewActivity" />
        <activity android:name="com.aotter.trek.admob.mediation.android.kotlin.demo.admob_mediation.native_ad.AdmobNativeAdScrollViewActivity" />
        <activity android:name="com.aotter.trek.admob.mediation.android.kotlin.demo.admob_mediation.native_ad.AdmobNativeAdRecyclerViewPageActivity" />
        <activity android:name="com.aotter.trek.admob.mediation.android.kotlin.demo.admob_mediation.supr_ad.AdmobSuprAdScrollViewActivity" />
        <activity android:name="com.aotter.trek.admob.mediation.android.kotlin.demo.admob_mediation.supr_ad.AdmobSuprAdRecyclerViewPageActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8836593984677243~2250388465" />

        <activity
            android:name="com.aotter.trek.admob.mediation.android.kotlin.demo.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>